{% extends 'base.html' %}  <!-- base.htmlを継承 -->
{% load static %}

{% block title %}WORK OUT設定★条件選択{% endblock %}  <!-- ページタイトルを設定 -->

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app_workout/styles_settings.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5 p-4 shadow rounded bg-white" style="max-width: 600px;">
<!-- Select2 CSS & JS 読み込み -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


  <h1 class="title">【WORK OUT設定★条件選択】</h1>
  <h2 class="timing">===== {{ timing_display }} =====</h2>

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.duration.id_for_label }}" class="form-label">{{ form.duration.label }}</label>
      {{ form.duration }}
    </div>
    <div class="form-group">
      <label for="{{ form.parts.id_for_label }}" class="form-label">{{ form.parts.label }}</label>
      {{ form.parts }}
    </div>
    <div class="form-group">
      <label for="{{ form.types.id_for_label }}" class="form-label">{{ form.types.label }}</label>
      {{ form.types }}
    </div>
    <div class="button-container">
      <button type="submit" class="button">運動メニュー作成</button>
    </div>
  </form>
</div>

<!-- Select2 初期化 -->
<script>
  $(document).ready(function() {
    $('#id_parts').select2({placeholder: "部位を選択してください"});
    $('#id_types').select2({placeholder: "種別を選択してください"});
  });
</script>
{% endblock %}